div.shopping-cart {
  max-width: 440px;
  padding-left: 64px;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      margin-bottom: 8px;
      padding-top: 8px;
      padding-bottom: 8px;
      height: 32px;
      align-items: center;

      span.title,
      span.amount,
      span.price {
        font-size: 1.2em;
        font-weight: bold;
      }

      span.title {
        flex: 1;
      }

      span.price {
        width: 120px;
        text-align: right;
      }

      button {
        width: 32px;
        height: 32px;
        font-weight: bold;
        font-size: 1.2em;
        margin-left: 16px;
        margin-right: 16px;
        cursor: pointer;
      }
    }
  }

  div.total {
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid black;
    padding-top: 16px;
    padding-bottom: 16px;

    span {
      font-weight: bold;
      font-size: 1.4em;
    }
  }
}
